@import '../components/shadow.scss';

.grid {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 2px;
  margin-top: 6px;
  background: #dfdfdf;
  box-shadow: $global_shadow_active;
  overflow-y: scroll;
}

.img {
  margin: 1px;
  width: calc(33.3% - 2px);
  height: 109px;
  background: #02a6a6;
  display: flex;
}
