$global_shadow: (
  -0.5px -0.5px 0 0.5px #dfdfdf,
  0 0 0 1px #808080,
  -0.5px -0.5px 0 1.5px #ffffff,
  0 0 0 2px #0a0a0a
);
$global_shadow_active: (
  -0.5px -0.5px 0 0.5px #808080,
  0 0 0 1px #dfdfdf,
  -0.5px -0.5px 0 1.5px #0a0a0a,
  0 0 0 2px #ffffff
);

// button
.init_btn {
  border: none;
  height: 19px;
  box-shadow: $global_shadow;
  background: #c0c0c0;
  font-family: 'MS_Sans_Serif';
  margin: 2px;
}
.init_btn:active {
  box-shadow: $global_shadow_active;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
}
.init_btn:focus {
  outline: 1px dotted #000000;
  outline-offset: -2px;
}

// ctrl button
.init_btn_ctrl:active {
  box-shadow: $global_shadow_active;
}
.init_btn_ctrl:focus {
  outline: 0;
}
