@font-face {
  font-family: 'MS_Sans_Serif';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/converted/ms_sans_serif.woff2') format('woff2');
}
@font-face {
  font-family: 'MS_Sans_Serif_Bold';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/converted/ms_sans_serif_bold.woff2') format('woff2');
}

$global_shadow: (
  -0.5px -0.5px 0 0.5px #dfdfdf,
  0 0 0 1px #808080,
  -0.5px -0.5px 0 1.5px #ffffff,
  0 0 0 2px #0a0a0a
);

$global_shadow_active: (
  -0.5px -0.5px 0 0.5px #808080,
  0 0 0 1px #dfdfdf,
  -0.5px -0.5px 0 1.5px #0a0a0a,
  0 0 0 2px #ffffff
);

body {
  margin: 0;
  background: #02a6a6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  background: #c0c0c0;
  height: calc(100vh - 14px);
  width: calc(100vw - 4px);
  margin-top: 2px;
  box-shadow: $global_shadow;
}
.firstMarginTop {
  height: 1px;
}
.titlebar {
  background: linear-gradient(to right, #000080, #1084d0);
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 2px;
  padding-right: 4.5px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}
.titlebar_title {
  display: flex;
  align-items: center;
  font-family: 'MS_Sans_Serif_Bold';
  font-size: 11px;
  color: #ffffff;
}
.titlebar_title_logo {
  padding-left: 1px;
  padding-right: 1px;
  width: 15px;
}
.titlebar_title_typo {
  padding-left: 1px;
  padding-right: 1px;
  white-space: nowrap;
}
.titlebar_btn {
  border: none;
  box-shadow: $global_shadow;
  width: 11px;
  height: 10px;
  background: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebar_btn:active {
  box-shadow: $global_shadow_active;
}
.titlebar_btn:focus {
  outline: 0;
}

.titlebar_svg {
  width: 6px;
}
.main {
  margin-left: 1px;
  margin-right: 1px;
}
.main_username {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: 'MS_Sans_Serif_Bold';
  font-size: 13px;
}
.main_divider {
  width: 100%;
  height: 1px;
  background: #808080;
  box-shadow: 0 0.5px 0 0px #ffffff;
}
.main_base_info_data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_avatar {
  margin: 10px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background: #808080;
}
.mian_avatar_pic {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.mian_base_info {
  display: flex;
}
.mian_base_info_post,
.mian_base_info_folowers,
.mian_base_info_folowing {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mian_base_info_post_num,
.mian_base_info_folowers_num,
.mian_base_info_folowing_num {
  font-family: 'MS_Sans_Serif_Bold';
  font-size: 13px;
}
.mian_base_info_post_title,
.mian_base_info_folowers_title,
.mian_base_info_folowing_title {
  font-family: 'MS_Sans_Serif';
  font-size: 11px;
}
.main_base_info_nickname {
  margin: 10px;
  font-family: 'MS_Sans_Serif_Bold';
  font-size: 13px;
}
.main_base_info_bio {
  margin-left: 10px;
  font-family: 'MS_Sans_Serif';
  font-size: 13px;
}
.main_base_info_website {
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'MS_Sans_Serif';
  font-size: 13px;
}
