@import './components/shadow.scss';
@import './components/scrollbar.scss';

.root {
  height: calc(100vh - 39px); // macOS Window Border Radius
}
.username {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MS_Sans_Serif_Bold';
}
.header_base_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header_avatar {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.header_stats {
  display: flex;
  padding-left: 8px;
}
.header_stats_posts,
.header_stats_followers,
.header_stats_followering {
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_stats_posts_num,
.header_stats_followers_num,
.header_stats_following_num {
  font-family: 'MS_Sans_Serif_Bold';
}
.header_stats_posts_title,
.header_stats_followers_title,
.header_stats_following_title {
  font-size: 14px;
  margin-top: 2px;
}
.header_btn {
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
.profile_info {
  padding: 10px;
}
.header_name {
  font-family: 'MS_Sans_Serif_Bold';
  margin-bottom: 6px;
}
.header_bio,
.header_website {
  font-size: 15px;
  margin-top: 1px;
}

// tabs
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4px;
}
.tab_item {
  width: 100%;
}
.tab_item_active {
  border: none;
  margin: 2px;
  box-shadow: $global_shadow_active;
  background: #c0c0c0;
  font-family: 'MS_Sans_Serif';
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.tab_item_display {
  display: none;
}

.grid,
.list {
  height: calc(100vh - 335px);
}
